{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
    <h1>Projects</h1>
    <ul class="card-list">
        {% for project in projects %}
            <li class="card"><a href="{% url 'todos:project-detail' project.pk %}">{{ project.name }}</a></li>
        {% empty %}
            <li class="empty-state">No projects yet.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'todos:project-create' %}" class="btn btn-primary">+ New project</a></p>
{% endblock %}
